.item-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40%x;
}

.item {
    font-size: 24px; /* גודל גופן גדול יותר */
    font-weight: bold; /* הדגשת גופן */
    margin-right: 20px; /* מרווח בין פריטים */
    margin-bottom: 20px; /* מרווח בין שורות */
}
.button{
    margin-top: 5%;
}
.form{
    margin-bottom: 42%;
}