<!-- <app-employee-form [id]="id"></app-employee-form> -->
<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
<app-employee-form (formSubmit)="handleFormSubmit($event)"></app-employee-form>
<!-- <button mat-raised-button (click)="openBottomSheet()">for positions</button> -->
<!-- <button mat-raised-button (click)="openDialog()">Open dialog without animation</button> -->
<!-- <button (click)="StateviewPosition()" class="btn btn-primary">view positions</button>
  <div *ngIf="viewPosition==true">
   <app-position [id]="id"></app-position>
</div>  -->