table {
    width:100%;
  }
  
  .mat-elevation-z8 {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  tr.mat-header-row {
    background-color: #f5f5f5;
  }
  
  td.mat-cell {
    border-bottom: 5px solid rgba(0, 0, 0, 0.12);
    text-align:center ;
    margin-left: 2px;
  }
  
  th.mat-header-cell {
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  }
  .center-icon {
     display:inline-block;
    justify-content: center;
    align-items: center;
  }
  .app-parent {
    display: flex;
    justify-content: center; /* מרכז באופן אופקי */
    align-items: center; /* מרכז באופן אנכי */
    height: 5px; /* גובה מלא של המסך */
    width:4px;
    margin-top: 2px;
  }
  .demo-section + .demo-section {
    margin-top: 16px;
  }
  .search-container {
    left: 30%;
    position: relative;
    display: inline-block;
    width: 40%;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .search-input {
    padding-left: 30px;
  }